@{
    ViewData["Title"] = "General announcement page";
    ViewData["Page"] = "General announcement page";
}

@model Post

@section Styles {
    <link rel="stylesheet" href="~/css/general_announce.css" asp-append-version="true" />
}

@if (Model.Id != 0)
{
    <h1>post "@Model.Title" general announcement</h1>
}
else
{
    <h1>General announcement</h1>
}
<form method="post" action="@Url.Action("GeneralAnnouncement","Announcement", new { postid = @Model.Id })">
    <p>Your message:</p>
    <input type="hidden" name="announcement.Type" value="@AnnouncementType.General">
    <textarea name="announcement.Message" rows="10" cols="50" required></textarea><br>
    <button type="submit">confirm</button>
</form>