@{
    ViewData["Title"] = "Account";
    ViewData["Page"] = "Account";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<button type="button" class="create-post" id="create-post">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pen"
        viewBox="0 0 16 16">
        <path
            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
    </svg>
</button>
<section>
    <div class="account-header">
        <img class="account-pfp"
            src="https://th.bing.com/th/id/OIP.1aO3gRaDN2nxbIWnflRaRAHaEK?rs=1&pid=ImgDetMain"
            alt="account-pfp">
        <div class="account-info">
            <h2>Shitass</h2>
            <p>100% Certified weaponized autism. I support LGTV+. #SavePalestine #ProLife #Vegan <br> We/Them</p>
        </div>
    </div>   
</section>
<div class="row">
    <div class="col">
        <h1>My Post(s)</h1>
        <div class="post-list">
            @*post template*@
            <div class="post-card">
                <img class="post-img"
                src="https://i.ytimg.com/vi/kPj_IeH6ZZE/maxresdefault.jpg"
                alt="post-img">
                <div class="post-info">
                    <h2>Post Title</h2>
                    <p>Post Descriptions</p>
                </div>
            </div>
            @*post template*@
            <div class="post-card">
                <img class="post-img"
                src="https://i.ytimg.com/vi/kPj_IeH6ZZE/maxresdefault.jpg69"
                alt="post-img">
                <div class="post-info">
                    <h2>Post Title</h2>
                    <p>Post Descriptions</p>
                </div>
            </div>
            <div class="post-card">
                <img class="post-img"
                src="https://i.ytimg.com/vi/kPj_IeH6ZZE/maxresdefault.jpg"
                alt="post-img">
                <div class="post-info">
                    <h2>Post Title</h2>
                    <p>Post Descriptions</p>
                </div>
            </div>
            <div class="post-card">
                <img class="post-img"
                src="https://i.ytimg.com/vi/kPj_IeH6ZZE/maxresdefault.jpg"
                alt="post-img">
                <div class="post-info">
                    <h2>Post Title</h2>
                    <p>Post Descriptions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <h1>Shenanigans Involved</h1>
        <div class="post-card">
            <img class="post-img"
            src="https://i.ytimg.com/vi/kPj_IeH6ZZE/maxresdefault.jpg"
            alt="post-img">
            <div class="post-info">
                <h2>Post Title</h2>
                <p>Post Descriptions</p>
            </div>
        </div>
    </div>
</div>