@{
    ViewData["Title"] = "About page";
    ViewData["Page"] = "About";
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
}
<section>
    <section class="about-title">
        <b>Developers<b>    
    </section>
    <div class="row">
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="/images/discord_pfp-kurumizawa.png"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>Kurumizawa</h2>
                            <p>Thanabodee Thanasanpadungkij</p>
                        </div>
                    </div>    
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Frontend</button>
                        <button type="button" class="post-tag-btn">Backend Structure</button>
                        <button type="button" class="post-tag-btn">Database</button>
                    </section>      
                    <p class="trophy">In the voice chat 24/7, 0 joined.</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <p>"So how do we distribute works evenly"</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="/images/discord_pfp-ssra1n.png"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>SSRa1n</h2>
                            <p>Phukawin Srirungreungchai</p>
                        </div>
                    </div>    
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Frontend Structure</button>
                        <button type="button" class="post-tag-btn">Backend</button>
                        <button type="button" class="post-tag-btn">Database</button>
                    </section>      
                    <p class="trophy">3,000 Insertions pushed to main without testing, works.</p>
                    <section class="post-join-info">
                        <div class="headcount">
                            <p>"Do I have to rebuild the structure again"</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="/images/discord_pfp-justsomeshit.png"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>JustSomeShit</h2>
                            <p>Rattaphum Kaenmuang</p>
                        </div>
                    </div>        
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Frontend</button>
                        <button type="button" class="post-tag-btn">Backend</button>
                    </section>  
                    <p class="trophy">First prophet to invent the scrolling box.</p>
                    <section class="post-join-info">
                        <div class="headcount">
                            <p>"Did you put the n-word in the console log again"</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="/images/discord_pfp-underdust.png"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>Underdust</h2>
                            <p>Pasut Siriwan</p>
                        </div>
                    </div>         
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Frontend</button>
                        <button type="button" class="post-tag-btn">Demo Tester</button>
                    </section> 
                    <p class="trophy">Broke the website demo by just existing</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <p>"What's with the Mercedes GTR"</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="/images/discord_pfp-vvip.png"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>VVIP</h2>
                            <p>Kritapas Thirasattayapitak</p>
                        </div>
                    </div>        
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Backend</button>
                        <button type="button" class="post-tag-btn">Demo Tester</button>
                    </section>  
                    <p class="trophy">Allegedly borrowed the watch from one of his friend</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <p>"Where were we again?"</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @* <script>
        portrait_menu = document.querySelector(".portrait-menu");
        portrait_menu.onclick = function(){
            nav_bar = document.querySelector(".nav-bar");
            nav_bar.classList.toggle("active");
        }
    </script> *@
}
