@{
    ViewData["Title"] = "About page";
    ViewData["Page"] = "About";
}

@section Styles {
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
}
<section>
    <section class="about-title">
        <b>Developers<b>    
    </section>
    <div class="row">
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://i.pinimg.com/originals/1e/0a/8e/1e0a8e6336fc13b134a5b4fa5fcd10ce.jpg"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>I am humgry</h2>
                            <p>fatass</p>
                        </div>
                    </div>    
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Backend</button>
                        <button type="button" class="post-tag-btn">Database</button>
                    </section>      
                    <p>eat</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>1/2</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://i.pinimg.com/236x/4d/04/73/4d047300ef8955abbfdc273a9b9b6aac.jpg"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>Looking for Minors</h2>
                            <p>Drake</p>
                        </div>
                    </div>    
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Front End</button>
                    </section>      
                    <p>hit me up if ur under 18</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>0/3</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-nWdgeahZSNXZwR4cCBpZYtZ_BRbF9z0o_w&s"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>Freak Cam</h2>
                            <p>OilyMen5312</p>
                        </div>
                    </div>        
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Reports</button>
                    </section>  
                    <p>Some retards are getting freaky behind ECC building</p>
                    <p>Taken at 12pm sharp behind ECC building, KMITL</p>
                    <p>chat this is so gay wtf</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>6/9</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://tse3.mm.bing.net/th?id=OIP.31ZQ1Y6ON6wgH1wvlyixRgHaEK&rs=1&pid=ImgDetMain"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>I Drive</h2>
                            <p>Ryan</p>
                        </div>
                    </div>         
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Full Stack</button>
                    </section> 
                    <p>No problem! Here's the information about the Mercedes CLR GTR: The Mercedes CLR GTR is a remarkable racing car celebrated for its outstanding performance and sleek design. Powder by a potent 6.0-liter V12 engine, it delivers over 600 horsepower.📷 Acceleration from 0 to 100km/h takes approximately 3.7 seconds, with a remarkable top speed surpassing 320km/h. 📷 Incorporation advanced aerodynamic features and cutting-edge stability technologies, the ClR GTR ensures exceptional stability and control, particularly during high-speed maneuvers. 📷 Originally priced around $1.5 million, the Mercedes CLR GTR is considered one of the most exclusive and prestigious racing cars ever produced. 📷 It's limited production run of just five units adds to its rarity, making it highly sought after by racing enthusiasts and collectors worldwide. 📷</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>4/5</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <div class="container">
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-nWdgeahZSNXZwR4cCBpZYtZ_BRbF9z0o_w&s"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>Freak Cam</h2>
                            <p>OilyMen5312</p>
                        </div>
                    </div>        
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Reports</button>
                    </section>  
                    <p>Some retards are getting freaky behind ECC building</p>
                    <p>Taken at 12pm sharp behind ECC building, KMITL</p>
                    <p>chat this is so gay wtf</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>6/9</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @* <script>
        portrait_menu = document.querySelector(".portrait-menu");
        portrait_menu.onclick = function(){
            nav_bar = document.querySelector(".nav-bar");
            nav_bar.classList.toggle("active");
        }
    </script> *@
}
