@{
    ViewData["Title"] = "Home page";
    ViewData["Page"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home_index.css" asp-append-version="true" />
}

<button type="button" class="create-post" id="create-post">
    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-pen"
        viewBox="0 0 16 16">
        <path
            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z" />
    </svg>
</button>
<div class="modal" id="modal">
    <div class="modal-content">
        <h2 class="create-post-header">Create new post</h2>
        <form method="post" action="@Url.Action("CreatePost","Post")" class="create-post-form" id="create-post-form">
            <div>
                <div class="create-post-display"></div>
                <label class="create-post-image">Image: <input type="url" name="Picture" placeholder="https://example.com/image.jpg"></label>
                <label class="create-post-tags">Tags: <input type="checkbox" name="Tags"></label>
            </div>
            <div>
                <label class="create-post-title">Title: <input type="text" name="Title" required></label>
                <label class="create-post-desc">Description:<br><textarea name="Description" rows="12" cols="40" required></textarea></label>
                <label class="create-post-amount">Amount accept: <input type="number" name="AmountAccept" required></label>
                <label class="create-post-type">Accept type: <input type="checkbox" name="AcceptType" required></label>
                <label class="create-post-cdate">Close date: <input type="date" name="CloseDate" required></label>
            </div>
        </form>
        <button type="submit" form="create-post-form" class="confirm-post" id="confirm-post">Confirm</button>
        <button type="button" class="cancel-post" id="cancel-post">Cancel</button>
    </div>
</div>
<section>
    <section class="search">
        <input type="text" id="search-bar" placeholder="Search title, tags or add filter">
        <button type="button" id="search-submit" form="search-bar">
            &nbsp&nbsp
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
            &nbsp&nbsp
        </button>
    </section>
    <section class="tagsearch">
        <button type="button" class="tag-btn">Tags#1</button>
        <button type="button" class="tag-btn">Tags#2</button>
        <button type="button" class="tag-btn">Tags#3</button>
        <button type="button" class="tag-btn">Tags#4</button>
    </section>
    <div class="row">
        <div class="col">
            <div class="post-card">
                <img class="post-img"
                    src="https://img.ifunny.co/images/87a51a9f76ac89422fd0a8afc59779c39bec300301641e7a643d57471ca3a29e_1.jpg"
                    alt="post-img" style="width:100%">
                <div class="container">
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Tags#1</button>
                        <button type="button" class="post-tag-btn">Tags#2</button>
                    </section>
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://i.pinimg.com/originals/1e/0a/8e/1e0a8e6336fc13b134a5b4fa5fcd10ce.jpg"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>I am humgry</h2>
                            <p>aliquam</p>
                        </div>
                    </div>          
                    <p>eat</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>1/2</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
            <div class="post-card">
                <img class="post-img"
                    src="https://ih1.redbubble.net/image.5467602758.8453/raf,360x360,075,t,fafafa:ca443f4786.jpg"
                    alt="post-img" style="width:100%">
                <div class="container">
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Tags#3</button>
                        <button type="button" class="post-tag-btn">Tags#4</button>
                    </section>
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://th.bing.com/th/id/OIP.1aO3gRaDN2nxbIWnflRaRAHaEK?rs=1&pid=ImgDetMain"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>Lorem ipsum</h2>
                            <p>pretium</p>
                        </div>
                    </div>          
                    <p>dolor sit amet</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>69/420</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <img class="post-img"
                    src="https://th.bing.com/th/id/OIP.AG32KvELuwMPxmGQzqmJdAHaEK?rs=1&pid=ImgDetMain"
                    alt="post-img" style="width:100%">
                <div class="container">
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Driving</button>
                    </section>
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://tse3.mm.bing.net/th?id=OIP.31ZQ1Y6ON6wgH1wvlyixRgHaEK&rs=1&pid=ImgDetMain"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>I Drive</h2>
                            <p>Ryan</p>
                        </div>
                    </div>          
                    <p>No problem! Here's the information about the Mercedes CLR GTR: The Mercedes CLR GTR is a remarkable racing car celebrated for its outstanding performance and sleek design. Powder by a potent 6.0-liter V12 engine, it delivers over 600 horsepower.📷 Acceleration from 0 to 100km/h takes approximately 3.7 seconds, with a remarkable top speed surpassing 320km/h. 📷 Incorporation advanced aerodynamic features and cutting-edge stability technologies, the ClR GTR ensures exceptional stability and control, particularly during high-speed maneuvers. 📷 Originally priced around $1.5 million, the Mercedes CLR GTR is considered one of the most exclusive and prestigious racing cars ever produced. 📷 It's limited production run of just five units adds to its rarity, making it highly sought after by racing enthusiasts and collectors worldwide. 📷</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>4/5</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <img class="post-img"
                    src="https://www.atimedesign.com/webdesign/wp-content/uploads/2019/11/test_ttp_big-1.jpg"
                    alt="post-img" style="width:100%">
                <div class="container">
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Tags#1</button>
                        <button type="button" class="post-tag-btn">Tags#3</button>
                        <button type="button" class="post-tag-btn">Tags#4</button>
                    </section>
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://i.pinimg.com/236x/4d/04/73/4d047300ef8955abbfdc273a9b9b6aac.jpg"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>finibus dictum velit</h2>
                            <p>Drake</p>
                        </div>
                    </div>          
                    <p>sed efficitur ipsum purus eget velit</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>0/3</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="post-card">
                <img class="post-img"
                    src="https://blog.lipsumhub.com/wp-content/uploads/2024/07/lorem-ipsum-meaning-in-english-lipsumhub.jpg"
                    alt="post-img" style="width:100%">
                <div class="container">
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Tags#1</button>
                        <button type="button" class="post-tag-btn">Tags#2</button>
                        <button type="button" class="post-tag-btn">Tags#3</button>
                        <button type="button" class="post-tag-btn">Tags#4</button>                 
                    </section>
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://th.bing.com/th/id/R.c64436e5f34e22e345ff5f539eb5e778?rik=W%2bO3F4J5blBZjw&pid=ImgRaw&r=0"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>nec cursus nisl</h2>
                            <p>HairyMen2135</p>
                        </div>
                    </div>          
                    <p>Fusce tristique arcu sed turpis laoreet,</p>
                    <p>pharetra venenatis ex cursus.</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>1/2</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
            <div class="post-card">
                <img class="post-img"
                    src="https://img.uxcel.com/practices/lorem-ipsum-1629200698112/a-1704914000276-2x.jpg"
                    alt="post-img" style="width:100%">
                <div class="container">
                    <section class="post-tag">
                        <button type="button" class="post-tag-btn">Tags#2</button>
                        <button type="button" class="post-tag-btn">Tags#3</button>
                        <button type="button" class="post-tag-btn">Tags#4</button>
                    </section>
                    <div class="post-header">
                        <img class="post-pfp"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-nWdgeahZSNXZwR4cCBpZYtZ_BRbF9z0o_w&s"
                            alt="post-pfp" style="width:15%">
                        <div class="post-info">
                            <h2>Maecenas finibus</h2>
                            <p>OilyMen5312</p>
                        </div>
                    </div>          
                    <p>Nullam finibus facilisis neque,</p>
                    <p>at interdum diam maximus a.</p>
                    <p>Nunc porttitor</p>
                    <section class="post-join-info">
                        <div class="headcount">
                        <h2>6/9</h2>
                        <p>joined</p>
                        </div>
                        <button type="button" class="post-redirect">See Details</button>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @* <script>
        portrait_menu = document.querySelector(".portrait-menu");
        portrait_menu.onclick = function(){
            nav_bar = document.querySelector(".nav-bar");
            nav_bar.classList.toggle("active");
        }
    </script> *@
    <script>
        const create_post_button = document.getElementById("create-post");
        const cancel_post_button = document.getElementById("cancel-post");
        const confirm_post_button = document.getElementById("confirm-post");
        const popup = document.getElementById("modal");
        create_post_button.addEventListener("click",()=>{
            popup.style.display = "block";
        })
        cancel_post_button.addEventListener("click",()=>{
            popup.style.display = "none";
        })
        confirm_post_button.addEventListener("click",()=>{
            
        })
    </script>
}