@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.cdnfonts.com/css/dinpro-bold');
*{
    font-family: 'DINPro-Bold', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
}
    
/* ---------------------------- HEADER ---------------------------- */
section {
    justify-content: center;
    align-items: center;
    display: flex;
}
.account-header {
    width: 80%;
    gap: 2%;
    /* margin: 20px 0 0 20px; */
    padding: 20px;
    display: flex;
    align-items: center;
}

.account-pfp{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
    width: 20%;
    height: 20%;
}   

.account-info {
    width: 90%;
    font-size: 30px;
    color: aliceblue;
    padding: 10px;
    overflow: hidden;
}
.account-info-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.account-info p {
    color: rgba(240, 248, 255, 0.69);
    min-height: 10vh;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}
.sm-account-button {
    align-items: center;
    gap: 20px;
    display: none;
}

@media only screen and (max-width: 900px){
    .account-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        img {
            width: 25%;
        }
    }
    .account-info-header {
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }
    .lg-account-button {
        display: none;
    }
    .sm-account-button {
        display: flex;
    }
}
/* ---------------------------- HEADER ---------------------------- */

/* ---------------------------- BODY ---------------------------- */
body {
    padding-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/guy_looking_at_girl.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.all-lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}
.col{
    gap: 50px;
    min-width: 40%;
    min-height: 40%;
    max-width: 90%;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
    background: linear-gradient(to bottom,
                        rgba(0, 0, 0, 0.5),
                        rgba(50, 50, 50, 0));
    border-radius: 20px;
    border: solid aliceblue;
    border-width: 2px;
    transition: 1s;

    font-size: 1rem;
    color: aliceblue;
}


/* ------------------------- POSTS LIST ------------------------- */
.post-list {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-height: 350px;
    overflow-y: auto;
    padding-right: 5%;
    margin-top: 5px;
}
.post-card {
    display: flex;
    position: relative;
    align-items: center;
    border-radius: 20px;
    border: solid aliceblue;
    border-width: 1px;
    font-size: 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(50, 50, 50, 0.5));
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    height: 30%;
}
.post-img {
    float: left;
    width:  30%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.post-info {
    position: absolute;
    top: 5%;
    left: 35%; /* Start the text 30% from the left of the container */
    width: 40%; /* Ensure the text container takes the remaining width */
    height: 80%;
    overflow: none;
}

.post-info h2 {
    font-size: 20px;
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowing text */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
}

.post-info p {
    width: 100%;
    height: 80%;
    font-size: 15px;
    color: rgba(240, 248, 255, 0.69);
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

/* "see details" buttons */
.post-redirect {
    width: 15%;
    height: 20%;
    font-size: 0.6rem;
    color: aliceblue;
    background-color: rgba(0, 150, 0, 0.25);
    border: none;
    border-radius: 5px;
    padding: 0px 10px 1px 10px;
    /* position to bottom-right */
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.post-redirect:hover {
    background-color: rgba(0, 150, 0, 0.5);
    cursor: pointer;
}
.post-redirect:active {
    background-color: rgba(0, 150, 0, 1);
}

/* WebKit browsers (Chrome, Safari, Edge)*/
.post-list::-webkit-scrollbar {
    width: 10px;
}
.post-list::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.post-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.post-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* ------------------------- POSTS LIST ------------------------- */

@media only screen and (max-width: 900px) {
    .col{
        width: 100%;
        transition: 1s;
    }
}
/* ---------------------------- BODY ---------------------------- */

/* ---------------------------- POPUP ---------------------------- */
.logout-button {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(255, 0, 0, 0.25);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px 1px 10px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
}

.edit-account-button {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 150, 0, 0.25);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px 1px 10px;
    white-space: nowrap;
    flex-shrink: 0;
    cursor: pointer;
}

.logout-button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}
.logout-button:active {
    background-color: rgb(255, 0, 0);
}
.edit-account-button:hover {
    background-color: rgba(0, 150, 0, 0.5);
    cursor: pointer;
}
.edit-account-button:active {
    background-color: rgba(0, 150, 0, 1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 1200px;
    margin: 10vh auto;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
    font-size: 20px;
}

.edit-account {
    font-size: 50px;
    margin: 10px 0px;
}

.cancel-edit-account {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(180, 6, 6, 0.8);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px 1px 10px;
    cursor: pointer;
}

.confirm-edit-account {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 150, 0, 0.8);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px 1px 10px;
    cursor: pointer;
}

.cancel-edit-account:hover, .cancel-edit-account:focus {
    background-color: rgba(180, 6, 6, 1);
    cursor: pointer;
}

.confirm-edit-account:hover, .confirm-edit-account:focus {
    background-color: rgba(0, 150, 0, 1);
    cursor: pointer;
}

.modal-content form > label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin: 15px auto;
}

.modal-content label input{
    font-size: 20px;
}

.modal-content label textarea{
    font-size: 20px;
    resize: none;
}
/* ---------------------------- POPUP ---------------------------- */