body{
    padding-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/guy_looking_at_girl.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* make the posts stay centered */
.row {
    display: flex;
    justify-content: center;
}

.col{
    float: left;
    width: 22%;
    margin: 10px;
    transition: 1s;
}
@media only screen and (max-width: 900px) {
    .col{
        width: 100%;
        transition: 1s;
    }
}
.post-card {
    color: aliceblue;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
.post-card img{
    border-radius: 5px;
    margin-bottom: 5px;
}