/* ---------------------------- CREATE POST ---------------------------- */
.create-post {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: none;
    background-color: rgb(150, 150, 150);
}
.create-post:hover{
    background-color: #cccccc;
    cursor: pointer;
}
.create-post:active{
    background-color: rgb(100, 100, 100);
}
/* ---------------------------- CREATE POST ---------------------------- */

/* ---------------------------- TOP SECTION ---------------------------- */
.search {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
#search-bar{
    width: 50vw;
    font-size: 24px;
    height: 40px;
    padding: 0 0 4px 10px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    border: none;
}
#search-submit{
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: rgb(150, 150, 150);
}
#search-submit:active{
    border-radius: 0px 10px 10px 0px;
    background-color: #cccccc;
}

.tagsearch {
    display: flex;
    justify-content: center;
    margin: 20px 0px 10px 0px;
    gap: 1vw;
}
.tag-btn {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(150, 150, 150, 0.50);
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
.tag-btn input {
    display: none;
}
.tag-btn-checkmark {
    font-size: 20px;
    width: 10vw;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 0px 10px 3px 10px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    white-space: nowrap;
}
.tag-btn:hover{
    background-color: rgba(150, 150, 150, 0.8);
    cursor: pointer;
}
.tag-btn:has(input:checked) {
    background-color: rgba(240, 248, 255, 0.75);
    .tag-btn-checkmark {
        color: black;
    }
}
.post-tag-btn:hover{
    background-color: rgba(150, 150, 150, 0.8);
    cursor: pointer;
}
.post-tag-btn:active {
    background-color: rgba(110, 110, 110, 1);
}
@media only screen and (max-width: 900px) {
    .tagsearch{
        display: block;
    }
    .tag-btn{
        width: 40vw;
        transition: 1s;
    }
}
/* ---------------------------- TOP SECTION ---------------------------- */

/* ---------------------------- BODY ---------------------------- */
body{
    padding-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/guy_looking_at_girl.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.col{
    float: left;
    width: 22%;
    margin: 10px;
    transition: 1s;
}
@media only screen and (max-width: 900px) {
    .col{
        width: 100%;
        transition: 1s;
    }
}
.post-card {
    color: aliceblue;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
.post-card .post-img{
    border-radius: 5px;
    margin-bottom: 5px;
}
.post-tag{
    display: block;
    margin: 5px 0px 15px 0px;
    gap: 1vw;
}
.post-tag-btn {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(150, 150, 150, 0.50);
    width: flex;
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 0px 10px 3px 10px;
    margin-right: 10px;
}
.post-pfp{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
}  
.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.post-info {
    display: flex;
    flex-direction: column; /* Stack h2 and p vertically */
}
.post-join-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    font-size: 25px;
}
.headcount {
    display: flex;
    align-items: center;
    gap: 10%;
}
.post-redirect {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 150, 0, 0.25);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px 1px 10px;
}
.post-redirect:hover {
    background-color: rgba(0, 150, 0, 0.5);
    cursor: pointer;
}
.post-redirect:active {
    background-color: rgba(0, 150, 0, 1);
}
@media only screen and (max-width: 900px) {
    .posttag{
        display: inline-block;
        text-align: center;
    }
}

.loading {
    text-align: center;
    font-size: 50px;
    color: white;
}

/* ---------------------------- BODY ---------------------------- */

/* ---------------------------- POPUP ---------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    border-radius: 6px;
    border: aliceblue solid;
    background-color: rgba(0, 0, 0, 0.75);
    color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    max-width: 1200px;
    margin: 10vh auto;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
    font-size: 20px;
    input, textarea{
        color: aliceblue;
        background-color: rgba(110, 110, 110, 0.5);
        padding-left: 5px;
    }
    .checkbox-container input {
        display: none;
    }
    .checkmark {
        font-size: 20px;
        width: flex;
        color: rgba(150, 150, 150, 0.8);
        background-color: rgba(150, 150, 150, 0.50);
        border: none;
        border-radius: 5px;
        height: 30px;
        padding: 0px 10px 3px 10px;
    }
    .checkbox-container:hover input ~ .checkmark {
        background-color: rgba(150, 150, 150, 0.8);
        cursor: pointer;
    }
    .checkbox-container input:checked ~ .checkmark {
        color:aliceblue
    }
}

.create-post-header {
    font-size: 50px;
    margin: 10px 0px;
}

.cancel-post {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(180, 6, 6, 0.8);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px 1px 10px;
    cursor: pointer;
}

.confirm-post {
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(0, 150, 0, 0.8);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 10px 1px 10px;
    cursor: pointer;
}

.cancel-post:hover, .cancel-post:focus {
    background-color: rgba(180, 6, 6, 1);
    cursor: pointer;
}

.confirm-post:hover, .confirm-post:focus {
    background-color: rgba(0, 150, 0, 1);
    cursor: pointer;
}

.create-post-form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* column-gap: 50px; */
    /* justify-content: space-around; */
}

.create-post-form > div {
    flex: 1;
    margin: 0px 50px;
    /* min-width: 400px; */
}

.create-post-form div > label {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px 0px;
}

.create-post-form div label input{
    font-size: 20px;
}

.create-post-display {
    border: 2px solid black;
    max-width: 300px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    img{
        max-width: 300px;
    }
}

.create-post-image input {
    flex-grow: 1;
}

.create-post-title input{
    flex-grow: 1;
}

.create-post-desc textarea{
    font-size: 20px;
    width: 100%;
    resize: none;
}

.create-post-tags {
    display: flex;
    justify-content: center;
}

.create-post-type {
    display: flex;
    margin-bottom: 10px;
}

.create-post-type label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    color: rgba(150, 150, 150, 0.8);
    background-color: rgba(150, 150, 150, 0.50);
}

.create-post-type input[type="radio"] {
    display: none;
}

.create-post-type label:hover {
    background-color: rgba(150, 150, 150, 0.8);
}

.create-post-type label:has(input[type="radio"]:checked) {
    color: aliceblue;
}
/* ---------------------------- POPUP ---------------------------- */