body{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/guy_looking_at_girl.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    padding-top: 0px;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    
    gap: 10px;

    min-width: 300px;
}
.page-title {
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 10px;
}

.input-username, .input-password {
    height: 40px;
    /* width: 15vw; */
    border-radius: 10px;
    border: 2px aliceblue solid;
    padding: 0px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;

    font-size: 25px;

    box-sizing: border-box;
    width: 100%;
}

.login-btn, .register-redirect {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 10px;
    border: 2px aliceblue solid;
    
    color: aliceblue;
    font-size: 20px;
    height: 36px;
}

.login-btn {
    background-color: rgba(0, 150, 0, 0.25);
}
.login-btn:hover {
    background-color: rgba(0, 150, 0, 0.5);
}
.login-btn:active {
    background-color: rgba(0, 150, 0, 1);
}
.register-redirect {
    background-color: rgba(0, 50, 100, 0.25);
}
.register-redirect:hover {
    background-color: rgba(0, 50, 100, 0.5);
}
.register-redirect:active {
    background-color: rgba(0, 50, 100, 1);
}

.input-username::placeholder, .input-password::placeholder {
    font-size: 16px;
}

.login-body {
    display: inline-block;
}