body{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/images/guy_looking_at_girl.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    padding-top: 0px;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: rgba(255, 255, 255,0.75);
}

.page-title {
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 10px;
}

.register-form, .credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.register-info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* width: 500px; */
}

.account-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp-preview {
    max-width: 100%;
}

.account-pfp {
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: relative;
    max-width: 150px;
    margin-bottom: 10px;
}

.input-pfp{
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border: 2px aliceblue solid;
    padding: 0px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;

    font-size: 16px;
}

.input-username, .input-password, .input-password-confirm {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 2px aliceblue solid;
    padding: 0px 5px 0px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;

    font-size: 25px;

    box-sizing: border-box;
}

.register-btn, .register-redirect {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    border-radius: 10px;
    border: 2px aliceblue solid;
    
    color: aliceblue;
    font-size: 20px;
    height: 36px;
    width: 100%;

    /* box-sizing: border-box; */
}

.register-btn {
    background-color: rgba(0, 150, 0, 0.25);
}
.register-btn:hover {
    background-color: rgba(0, 150, 0, 0.5);
}
.register-btn:active {
    background-color: rgba(0, 150, 0, 1);
}

.register-btn:disabled {
    background-color: rgba(69, 69, 69, 50);
    color: rgba(255, 255, 255, 0.25);
    cursor: no-drop;
}
.register-btn:disabled:hover {
    cursor: no-drop;
}

.input-username::placeholder, .input-password::placeholder, .input-password-confirm::placeholder, .input-pfp::placeholder{
    font-size: 16px;
}

@media only screen and (max-width: 900px) {
    .register-info {
        flex-direction: column;
    }
    .credentials {
        align-items: center;
    }
    .input-username, .input-password, .input-password-confirm {
        width: 40vw;

        min-width: 300px;
    }
    .register-btn {
        width: 42vw;

        min-width: 300px;
    }
}